* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.button-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background-color: #50E3C2;
  color: #0F3D33;
  padding: 15px 28px;
  font-weight: bold;
}

.button-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background-color: rgba(80, 227, 194, 0.14);
  color: #0F3D33;
  padding: 15px 28px;
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container {
  max-width: 1188px;
  width: 74%;
  margin: 0 auto;
  padding: 10px;
}
.header .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .header__menu .menu__item {
  margin-left: 30px;
}
.header .header__menu .menu__item a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #DBE4F1;
}
.header .header__menu .menu__item a:hover {
  text-decoration: underline;
}

.content-top {
  background: url("../img/BG.png") center center no-repeat;
  padding: 185px 0 90px 0;
}
.content-top .content-top__container {
  max-width: 605px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.content-top .content-top__container .content-top__title {
  font: bold 46px/148% "Inter", sans-serif;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}
.content-top .content-top__container .content-top__text {
  font: normal 20px/170% "Inter", sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: #DBE4F1;
}
.content-top .content-top__container .content-top__button {
  font: 600 16px/119% "Inter", sans-serif;
  margin-bottom: 11px;
  margin-top: 27px;
}
.content-top .content-top__container .content-top__not-card {
  font: normal 14px/200% "Inter", sans-serif;
  color: #DBE4F1;
}

.feature-section {
  padding-top: 148px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1103px;
  width: 68.9375%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feature-section .feature-section__border-line {
  height: 111px;
  border: solid 1px #8E8E8E;
  margin-top: 115px;
  margin-bottom: 15px;
}
.feature-section .feature-section__block {
  max-width: 307px;
  padding-bottom: 166px;
}
.feature-section .feature-section__block .block-circle {
  margin: 0 auto;
  background: rgba(252, 92, 101, 0.06);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  mix-blend-mode: normal;
}
.feature-section .feature-section__block .block-circle .block__inner-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 40%;
  left: 40%;
  background: #FC5C65;
}
.feature-section .feature-section__block .feature-block__caption {
  padding-top: 33px;
  padding-bottom: 24px;
  font: bold 22px/155% "Inter", sans-serif;
  color: #000000;
}
.feature-section .feature-section__block .feature-block__text {
  font: normal 18px/189% "Inter", sans-serif;
  color: #323232;
}

@media (max-width: 480px) {
  .feature-section__border-line {
    visibility: hidden;
  }

  .content-1__section-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .content-block {
    margin: 0 auto;
  }

  .content__button {
    margin: 0 auto;
  }

  .img-2 {
    visibility: hidden;
  }

  .img-1 {
    margin-left: 109px;
  }

  .content-2__section-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .img-3 {
    margin-left: 60px;
  }

  .img-4 {
    visibility: hidden;
  }

  .content-2__block {
    margin: 0 auto;
  }

  .price__block {
    margin: 0 auto;
  }

  .content-top__not-card {
    margin-left: 80px;
  }

  .comment__block {
    border-right: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .comment__row {
    border: none;
  }
  .comment__row .comment__block {
    border: none;
  }
}
.content-1__section {
  background: #F8FBFE;
}
.content-1__section .content-1__section-row {
  max-width: 1079px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
}
.content-1__section .content-1__section-row .section__image-block .img-1 {
  margin-left: 15, 6px;
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.103346);
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.103346);
  border-radius: 5px;
}
.content-1__section .content-1__section-row .section__image-block .img-2 {
  margin-top: -251px;
  margin-left: 151px;
  -webkit-box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
          box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
  border-radius: 5px;
}
.content-1__section .content-1__section-row .content-block {
  max-width: 436px;
}
.content-1__section .content-1__section-row .content-block .content-caption {
  padding-top: 59px;
  font: bold 38px/132% "Inter", sans-serif;
}
.content-1__section .content-1__section-row .content-block .content-text {
  font: normal 18px/178% "Inter", sans-serif;
  color: #323232;
  padding-bottom: 29px;
}
.content-1__section .content-1__section-row .content-block .content__button {
  font: 600 16px/119% "Inter", sans-serif;
  margin-bottom: 11px;
  margin-top: 27px;
}

.content-2__section .content-2__section-row {
  padding-bottom: 150px;
  max-width: 1065px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-2__section .content-2__section-row .section-2__image-block {
  max-width: 549px;
  padding-top: 120px;
}
.content-2__section .content-2__section-row .section-2__image-block .img-3 {
  width: 364px;
  height: 409px;
  margin-top: -345px;
  -webkit-box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
          box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
  border-radius: 5px;
}
.content-2__section .content-2__section-row .section-2__image-block .img-4 {
  margin-top: 65px;
  margin-left: 243px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-23.88%, rgba(255, 255, 255, 0.0001)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) -23.88%, #FFFFFF 100%);
}
.content-2__section .content-2__section-row .content-2__block {
  max-width: 436px;
  width: 100%;
}
.content-2__section .content-2__section-row .content-2__block .content-2__caption {
  padding-top: 154px;
  font: bold 38px/132% "Inter", sans-serif;
}
.content-2__section .content-2__section-row .content-2__block .content-2__text {
  font: normal 18px/178% "Inter", sans-serif;
  color: #323232;
  padding-bottom: 29px;
}
.content-2__section .content-2__section-row .content-2__block .content__button {
  font: 600 16px/119% "Inter", sans-serif;
  margin-bottom: 11px;
  margin-top: 27px;
}

.pricing {
  background: #F8FBFE;
}
.pricing .pricing__main-block {
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}
.pricing .pricing__main-block .pricing__caption {
  font: 700 38px/132% "Inter", sans-serif;
  padding-top: 120px;
  padding-bottom: 20px;
}
.pricing .pricing__main-block .pricing__text {
  font: 400 normal 18px/178% "Inter", sans-serif;
  color: #323232;
  padding-bottom: 60px;
}
.pricing .pricing__main-block .pricing__button-block {
  width: 250px;
  height: 46px;
  margin: 0 auto;
  padding-bottom: 188px;
}
.pricing .pricing__main-block .pricing__button-block .button__cover {
  border: 1px solid #e8e8ea;
  border-radius: 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pricing .pricing__main-block .pricing__button-block .cover__button {
  padding: 10px 26px 8px 34px;
}
.pricing .pricing__main-block .pricing__button-block .cover__button a {
  text-transform: uppercase;
  font: 600 12px/233% "Inter", sans-serif;
  color: #323232;
}
.pricing .pricing__main-block .pricing__button-block .cover__button:hover {
  border-radius: 23px;
  background: #50E3C2;
}

.price__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 730px;
  width: 100%;
  margin: -106px auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.price__row .price__block {
  max-width: 350px;
  border-top: 4px solid white;
}
.price__row .price__block:hover {
  border-top: 4px solid #50E3C2;
}
.price__row .price__block .price__block-container {
  padding: 28px 0px 29px 45px;
}
.price__row .price__block .content__button {
  font: 600 16px/119% "Inter", sans-serif;
  margin-bottom: 14px;
  margin-top: 31px;
}
.price__row .price__block .price__list .price__list-option {
  font: 400 18px/178% "Inter", sans-serif;
  background: url(/img/Path.png) no-repeat 0 10px;
  padding-left: 18px;
}
.price__row .price__block .price__text {
  font: 400 14px/164% "Inter", sans-serif;
  color: #323232;
  padding-bottom: 26px;
}
.price__row .price__block .price__caption {
  font: 700 46px/130% "Inter", sans-serif;
}
.price__row .price__block .price__caption .dollar {
  font-size: 30px;
}
.price__row .price__block .price__caption .month {
  font-size: 17px;
}
.price__row .price__block .version {
  text-transform: uppercase;
  color: #878B90;
  font: 700 13px/246% "Inter", sans-serif;
  padding-bottom: 17px;
}
.price__row .price__block .content-top__not-card {
  font: normal 14px/200% "Inter", sans-serif;
  color: #666666;
  padding-bottom: 135px;
}

.comment__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #E8E8EA;
  border-radius: 10px;
}
.comment__row .comment__block {
  max-width: 274px;
  border-right: 2px solid #E8E8EA;
}
.comment__row .comment__block:nth-child(3) {
  border: 0px solid #E8E8EA;
}
.comment__row .comment__block .comment__icon {
  font: normal 98px "Inter", sans-serif;
  color: #DBE4F1;
}
.comment__row .comment__block .comment__text {
  font: normal 18px/178% "Inter", sans-serif;
  letter-spacing: -0.1px;
  padding-bottom: 40px;
}
.comment__row .comment__block .comment__author {
  font: 700 16px/175% "Inter", sans-serif;
  text-align: center;
  color: #323232;
}
.comment__row .comment__block .comment__from {
  font: normal 14px/200% "Inter", sans-serif;
  text-align: center;
  color: #323232;
  padding-bottom: 48px;
}

.footer {
  background: #1a2a4c;
  margin-top: 142px;
}
.footer .footer__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1101px;
  margin: 0 auto;
}
.footer .footer__row .row__group {
  max-width: 181px;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 132px;
}
.footer .footer__row .row__group .group__list .first__item {
  font: normal 14px/229% "Inter", sans-serif;
  margin-bottom: 23px;
}
.footer .footer__row .row__group .group__list .first__item a {
  color: #DBE4F1;
}
.footer .footer__row .row__group .group__list .group__item {
  font: normal 16px/213% "Inter", sans-serif;
}
.footer .footer__row .row__group .group__list .group__item a {
  color: #F8FBFE;
}